<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ titulo }}</title>
</head>

<body>
    {% include 'sidebar.html' %}

    <div class="content">
        <h1>Componentes usados</h1>

        <table>
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col in columns %}
                            <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h1>Mão de obra usadas</h1>
        
        <table>
            <thead>
                <tr>
                    {% for col in columns2 %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in rows2 %}
                    <tr>
                        {% for col in columns2 %}
                            <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</html>
